body{
background-color: black ;
font-family:serif;
}
.h{
      align-items: center;
      background-color: orange; }
.header{
background-color:orange ;
align-items: center;
border-radius: 30px;
}

.styling{
align-items: center;
background-color:antiquewhite;
border-radius: 40px;
}
img{
      width: 400px;
      height:400px;
}
.b{
color: white;
}
.navpar{
     text-decoration: none;
      color: white;
      background-color: antiquewhite;
      border-radius: 30px;
}